<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Gilliard G. Rodrigues">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title th:unless="${telaEdicao}">Cadastrar aluno</title>
		<title th:if="${telaEdicao}">Alterar aluno</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
	</head>
	<body>
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		<div class="container" style="margin-top: 50px">
			<h4 th:unless="${telaEdicao}"><i class="fas fa-plus"></i> Cadastrar aluno</h4>
			<h4 th:if="${telaEdicao}"><i class="fas fa-edit"></i> Alterar aluno</h4>
			<hr>
			<br>
			<form method="post" action="/salvarAluno" th:object="${aluno}">
				<input type="hidden" th:field="*{id}">
				<div class="row">
					<div class="col-md-6 form-group offset-md-3">
						<label th:for="nome">Nome:</label>
						<input class="form-control" placeholder="Ex.: João da Silva" th:field="*{nome}">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
							<label class="validation-message" th:errors="*{nome}"></label>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-6 form-group offset-md-3">
						<label th:for="curso">Curso:</label>
						<select class="form-control" th:field="*{curso}">
							<option th:value="${null}" th:text="${'Selecione uma opção...'}"></option>
							<option th:each="curso : ${T(br.com.academy.enums.Curso).values()}"
									th:value="${curso}" th:text="${curso.descricao}">
							</option>
						</select>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('curso')}">
							<label class="validation-message" th:errors="*{curso}"></label>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-6 form-group offset-md-3">
						<label th:for="matricula">Matrícula:</label>
						<input class="form-control" th:field="*{matricula}" th:readonly="${telaEdicao}">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('matricula')}">
							<label class="validation-message" th:errors="*{matricula}"></label>
						</div>
						<button type="button" class="btn btn-dark" style="margin-top: 10px" onclick="gerarMatricula();">Gerar</button>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-6 form-group offset-md-3">
						<label th:for="turno">Turno:</label>
						<select class="form-control" th:field="*{turno}">
							<option th:value="${null}" th:text="${'Selecione uma opção...'}"></option>
							<option th:each="turno : ${T(br.com.academy.enums.Turno).values()}"
									th:value="${turno}" th:text="${turno.descricao}">
							</option>
						</select>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('turno')}">
							<label class="validation-message" th:errors="*{turno}"></label>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-6 form-group offset-md-3">
						<label th:for="status">Status:</label>
						<select class="form-control" th:field="*{status}"> <!-- O T é pra se referir a uma instância do Enum -->
							<option th:value="${null}" th:text="${'Selecione uma opção...'}"></option>
							<option th:each="status : ${T(br.com.academy.enums.Status).values()}" 
									th:value="${status}" th:text="${status.descricao}">
							</option>
						</select>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('status')}">
							<label class="validation-message" th:errors="*{status}"></label>
						</div>
					</div>	
				</div>
				<div class="row">
					<button type="submit" class="btn btn-success offset-md-5">SALVAR</button>
					&nbsp;&nbsp;&nbsp;
					<a class="btn btn-outline-danger" th:href="@{/index}">VOLTAR</a>
				</div>
			</form>
		</div>
		<br>
		<br>
		<div th:replace="fragmentos/fragmentos :: rodape"></div>
		<script src="js/main.js"></script>
		<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>