<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Gilliard G. Rodrigues">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Buscar alunos</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
	</head>
	<body>
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		<div class="container" style="margin-top: 50px">
			<h4><i class="fas fa-search"></i> Buscar alunos</h4>
			<hr>
			<br>
			<form method="post">
				<div class="input-group col-6 offset-3">
					<input class="form-control" placeholder="Busque pelo nome de um aluno...">
					<div class="input-group-append">
						<button type="submit" class="btn btn-outline-secondary">Buscar</button>
					</div>
				</div>
			</form>
			<br>
			<hr>
			<div class="row">
				<form method="post" action="filtrarAlunos">
					<div class="form-row">
						<div class="card" style="width: 278px">
							<button type="submit" class="botao-imagem-filtro" th:name="status" th:value="${'ATIVO'}">
								<img class="card-img-top" src="img/alunos-ativos.jpg">
							</button>
							<div class="card-body">
								<h5 class="card-title">Alunos ativos</h5>
								<p class="card-text">Busque no sistema por todos os alunos que estão ativos.</p>
								<button type="submit" class="btn btn-outline-primary" th:name="status" th:value="${'ATIVO'}">Clique aqui</button>
							</div>
						</div>
						<div class="card ml-2" style="width: 278px">
							<button type="submit" class="botao-imagem-filtro" th:name="status" th:value="${'INATIVO'}">
								<img class="card-img-top" src="img/alunos-inativos.jpg">
							</button>
							<div class="card-body">
								<h5 class="card-title">Alunos inativos</h5>
								<p class="card-text">Busque no sistema por todos os alunos que estão inativos.</p>
								<button type="submit" class="btn btn-outline-primary" th:name="status" th:value="${'INATIVO'}">Clique aqui</button>
							</div>
						</div>
						<div class="card ml-2" style="width: 278px">
							<button type="submit" class="botao-imagem-filtro" th:name="status" th:value="${'CANCELADO'}">
								<img class="card-img-top" src="img/alunos-cancelados.jpg">
							</button>
							<div class="card-body">
								<h5 class="card-title">Alunos cancelados</h5>
								<p class="card-text">Busque no sistema por todos os alunos que estão cancelados.</p>
								<button type="submit" class="btn btn-outline-primary" th:name="status" th:value="${'CANCELADO'}">Clique aqui</button>
							</div>
						</div>
						<div class="card ml-2" style="width: 278px">
							<button type="submit" class="botao-imagem-filtro" th:name="status" th:value="${'TRANCADO'}">
								<img class="card-img-top" src="img/alunos-trancados.jpg">
							</button>
							<div class="card-body">
								<h5 class="card-title">Alunos trancados</h5>
								<p class="card-text">Busque no sistema por todos os alunos que estão trancados.</p>
								<button type="submit" class="btn btn-outline-primary" th:name="status" th:value="${'TRANCADO'}">Clique aqui</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>