<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Gilliard G. Rodrigues">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lista de alunos</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
	</head>
	<body>
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		<div class="container" style="margin-top: 50px;">
			<h4><i class="fas fa-users"></i> Lista de alunos</h4>
			<hr>
			<br>
			<form method="post" action="pesqAluno" th:object="${aluno}">
				<div id="inputGroupPesquisa2" class="input-group col-4">
					<input type="text" th:field="*{nome}" class="form-control" placeholder="Insira o nome de um aluno...">
					<div class="input-group-append">
						<button type="submit" class="btn btn-outline-secondary">Pesquisar</button>
					</div>
				</div>
			</form>
			<br>
			<hr>
			<table class="table table-bordered table-hover text-center table-responsive-md" >
				<thead>
					<th scope="col">Foto</th>
					<th scope="col">Nome</th>
					<th scope="col">Sexo</th>
					<th scope="col">Nascido em</th>
					<th scope="col">Matrícula</th>
					<th scope="col">Curso</th>
					<th scope="col">Turno</th>
					<th scope="col">Status</th>
					<th scope="col">Ação</th>
				</thead>
				<tbody>
					<tr scope="row" th:each="obj : ${alunos}">
						<td width="5%"><img th:src="|/imagem/${obj.id}|" class="foto"></td>
						<td width="20%" th:text="${obj.nome}"></td>
						<td width="5%" th:text="${obj.sexo.descricao}"></td>
						<td width="10%" th:text="${#dates.format(obj.dataNascimento, 'dd/MM/yyyy')}"></td>
						<td width="5%" th:text="${obj.matricula}"></td>
						<td width="15%" th:text="${obj.curso.descricao}"></td>
						<td width="5%" th:text="${obj.turno.descricao}"></td>
						<td width="5%" th:text="${obj.status.descricao}"></td>
						<td width="30%">
							<a class="btn btn-primary" th:href="@{cadAluno/{id}(id=${obj.id})}"><i class="fas fa-edit"></i>Editar</a>
							<a class="btn btn-danger" th:href="@{rmAluno/{id}(id=${obj.id})}"><i class="fas fa-trash"></i>Remover</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(alunos)}">
			  <p style="text-align: center;">Nenhum resultado foi encontrado.</p>
			</div>
		</div>
		<br>
		<br>
		<div id="footer-pesq-parent">
			<div th:replace="fragmentos/fragmentos :: rodape"></div>
		</div>
		<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>